a:link {text-decoration:none; color:#000} 
a:visited {text-decoration:none; color:#000} 
a:hover {text-decoration:underline;} 
TH a:link {color:#FFFFFF;} 
TH a:visited{text-decoration:none; color:#FFFFFF} 
TH a:hover {text-decoration:underline;} 
table.end-point{border-width: 1px; border-spacing: 0px; width: 100%} 
table.end-point th{vertical-align: top; text-align:left; width:120px} 
table.end-point td{text-align:left}