#main { padding-left: 0; height: 100% }
#sign-in-container, #signed-in-container { display: none }
h1 { margin: 0 0 10px 0; padding: 0; text-align: center }
.navbar {top:0; right:0; left:0; z-index:1030; position: fixed; background-color: #1b1b1b; color: #fff; padding:4px; font-size: 18px; height:22px ;}
.navbar-content {background-color: #1b1b1b;}
.navbar-content ul{list-style-type: none;}
.navbar-content li{display: inline; padding: 10px;}
.navbar-content li a {   color: #cccccc; padding: 10px; width: 100% }
.navbar-content li.active a { bç; color: #ffffff; text-shadow: none; font-weight: bold }
.navbar-content li a:hover { text-decoration: none; color: #CC0000; text-shadow: none; }

.masthead{padding: 70px 0 80px; margin-bottom: 0;}

.banner{margin: 0 0 0 0; padding-bottom: 0; text-align: center;  height:200px; background-color: #CC0000;  color: #fff; }
.title{font-size: 45px; font-weight: bold; padding: 10px 0px 30px}
.banner ul{list-style-type: none;}

.social-nav {background-color: #f5f5f5; height: 30px; text-align: center; border-bottom: 1px solid #ddd; }

.social-container ul{list-style-type: none;}
.social-container li{display: inline; padding: 10px;}

.why-content{padding-top: 20px; padding-bottom: 20px; min-height: 200px}

.footer{background-color: #f5f5f5; padding-top: 20px; text-align: center; border-top: 1px solid #ddd;}

.login { text-align: center; width: 100% ;}
.gplus-btn {margin: 0 auto; background-color: #CC0000;  color: #fff; border: 2px solid #fff; border-radius: 3px; width: 180px; max-height: 32px; overflow: hidden; cursor: hand; cursor: pointer;}
.gplus{
	background: no-repeat url(../img/g_signinbutton.png) -44px 0;
	background-image: url(../img/g_signinbutton.png);
	background-position-x: -44px;
	background-position-y: 0px;
	background-size: initial;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	height: 32px;
	width: 32px;
	margin-top: -1px;
}

.right {
    float: right;
    width: 80%;
    height: 34px;
    font-size: 24px;
    padding-top: 5px;
}
.left {
    overflow: hidden;
    height: 32px;
    border-right: 1px solid #ddd;
}

/* This parent can be any width and height */
.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.home-view {
  min-height: 600px;
}

.home-title{
     top:30px; right:0; left:0; z-index:1030; position: fixed;margin: 0 0 0 0; padding-bottom: 0;  font-size: 31.5px; font-weight: bold; height:32px; padding:4px; background-color: #CC0000;  color: #fff; 
}

.bumper{
  margin-top: 70px;
}

.formContainer{
  padding-top: 20px;
  margin-left: 20px;
}

.formContainer label{
  font-weight: bold;
}

.form-display-txt {
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 10px;
}

.checkspace{
  background-color: #f5f5f5;
}

.avatar-img{
  padding: 5px;
  width: 96px;
  height: 96px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border: 1px solid #ddd;
}