<div class="banner masthead">
	<ul>
		<li class="title">HomePi</li>
		<li>The social, open, remote management, data-logging, Raspberry PI cloud service<li> 
		<li>(Now isn't that a mouthful!)</li>
		<li>&nbsp;</li>	
		<li>&nbsp;</li>	
		<li>
            <div class="login">
	            <div class="gplus-btn" ng-click="doGplusAuth()">
	                <div class="right">Sign-in</div>
	                <div class="gplus left"></div>
	            </div>
	        </div>
        </li>
	</ul>
</div>
<div class="row-fluid social-nav">
  <div class="span2">&nbsp;</div>
  <div class="span2">
  	<div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://www.homepi.org" data-height="28"></div>
  </div>	
  <div class="span2">
  	<div class="g-plusone" data-href="http://www.homepi.org" data-height"28"></div>
  </div>
  <div class="span2">
  	<a href="https://twitter.com/share" class="twitter-share-button" data-via="home_pi" data-size="large" data-hashtags="homepi,raspberrypi">Tweet</a>
  </div>
  <div class="span2">
  	<a href="https://twitter.com/home_pi" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @home_pi</a>
  </div>
  	
  <div class="span2">&nbsp;</div>
</div>


<div class="row-fluid why-content">
	<div class="span2">&nbsp;</div>
	<div class="span8"><b>Coming soon!</b>     <br>This site is a work in progress and not quite ready for use. Functionality is being added daily and the backend REST API is up and running but, the UI has a ways to go. Don't give up and bail out though, follow us on twitter and we will let tweeting up a storm as soon as we feel there is enough here for you to get started!</div>
	<div class="span2">&nbsp;</div>
</div>
<div class="app-footer"></div>

