<div class="row-fluid">
	<div class="span12">
		<div class="span6 checkspace">
			<div class='formContainer'>
				<form name="profileForm">
				  <div class="control-group" ng-class="{error: profileForm.name.$invalid}">
				    <label>User Name</label>
				    <input type="text" name="name" ng-model="user.userName" required>
				    <span ng-show="profileForm.name.$error.required" class="help-inline">
				        Required</span>
				  </div>
				 
				  <div>
				  	<label>Date Joined</label><span class="form-display-txt">{{user.createTime}}</span>
				  </div>

				  <div class="control-group" ng-class="{error: profileForm.site.$invalid}">
				    <div><img class="avatar-img" ng-src="{{user.picLink || 'img/robot.jpg'}}"></div>
				    <label>Profile Image</label>
				    <input type="url" name="site" ng-model="user.picLink" required>
				    <span ng-show="profileForm.site.$error.required" class="help-inline">
				        Required</span>
				    <span ng-show="profileForm.site.$error.url" class="help-inline">
				        Not a URL</span>

				  </div>

				  <div class="control-group" ng-class="{error: profileForm.givenName.$invalid}">
				    <label>Given Name</label>
				    <input type="text" name="givenName" ng-model="user.givenName" required>
				    <span ng-show="profileForm.givenName.$error.required" class="help-inline">
				        Required</span>
				    <span ng-show="profileForm.givenName.$error.url" class="help-inline">
				        Not a URL</span>
				  </div>

				  <div ng-hide="{{user.readonly}}" class="control-group" ng-class="{error: profileForm.familyName.$invalid}" >
				    <label>Family Name</label>
				    <input type="text" name="familyName" ng-model="user.familyName" required>
				    <span ng-show="profileForm.familyName.$error.required" class="help-inline">
				        Required</span>
				    <span ng-show="profileForm.familyName.$error.url" class="help-inline">
				        Not a URL</span>
				  </div>
				
				  <br>
				  <a href="#/" class="btn">Cancel</a>
				  <button ng-click="saveuser()" ng-disabled="isClean() || profileForm.$invalid" class="btn btn-primary">Save</button>
				</form>

			</div>
		</div>
		<div class="span6 checkspace">
			<h3>Pi Profile Summary</h3>
			<table class="pi-sum-table">
				<tr>
					<th>Pi Name</th><th>Api Key</th><th>Pi Serial Id</th><th></th>
				</tr>
				<tr ng-repeat="profile in user.piProfiles">
					<td>{{profile.name}}</td>
					<td>{{profile.apiKey}}</td> 
					<td>{{profile.piSerialId}}</td>
					<td><a href="#/piprofile/{{profile.$piId}}"> edit<i class="icon-pencil"></i></a></td>
				</tr>
			</table>
			<h3>Your Apps <a href="#/apps/new"><i class="icon-plus"></a></i></h3>
			<table class="pi-app-table">
				<tr>
					<th>App Name</th><th>Version</th><th>File Name</th><th>Decs.</th><th></th>
				</tr>
				<tr ng-repeat="app in user.managedApps">
					<td>{{app.appName}}</td>
					<td>{{app.versionNumber}}</td> 
					<td>{{app.fileName}}</td>
					<td>{{app.shortDesc}}</td>
					<td><a href="#/apps/{{app.appId}}"> edit<i class="icon-pencil"></i></a></td>
				</tr>
			</table>
		</div>	
	</div>
</div>
